<% @todos.each do |todo| %>
  <div class="well">
    <h2><%= todo.description%></h2>
    <p><%= link_to "Mostrar", todo, class: 'btn btn-primary' %>
    <%= link_to "Editar", todo_edit_path(todo), class: 'btn btn-warning' %>
  <%= link_to "Borrar", todo, class: 'btn btn-danger', method: :delete %>
    <%= link_to "¡Listo!", todo_complete_path(todo), class: 'btn btn-success' %></p>
    </div>
  <% end %>

  <h2><%= link_to "Crear To Do", todos_new_path, class: 'btn btn-info' %></h2>
